.your_order{
    background: #fff;
    margin: 2rem 0;
    padding: 1rem 0.5rem;
}
.yourorder{
    margin-bottom: .5rem;
}
.order_list{
    display: flex;
    justify-content: space-between;
    margin-bottom:1rem ;
}
.left-side{
    display: flex;
    justify-content: space-between;

}
.left-side i{
    padding-top: 0.2rem;
    margin-right: 0.7rem;
}
.left-side p{
    margin-bottom: 0;
}
